In [2]:
import pandas as pd
from datetime import date

In [3]:
def corona(url, date):
    corona = pd.read_html(url)
    corona_df = corona[2]
    corona_df['date'] = date
    corona_df.to_csv(f'corona_{date}.csv')
    return corona_df

In [4]:
today = date.today()
d1 = today.strftime("%m-%d-%Y")
print(d1)

03-06-2020

In [48]:
# corona('https://web.archive.org/web/20200305195417/https://www.worldometers.info/coronavirus/', '03-05-2020')

In [49]:
df = pd.read_csv('coronavirus.csv')

In [50]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [51]:
df.shape

(1405, 5)

In [52]:
df.fillna(0, inplace=True)

In [53]:
df.head()

            Country  TotalCases  TotalDeaths  TotalRecovered    date
0             China       80430       3013.0         52259.0  3/5/20
1          S. Korea        6088         40.0           135.0  3/5/20
2             Italy        3858        148.0           414.0  3/5/20
3              Iran        3513        107.0           739.0  3/5/20
4  Diamond Princess         696          6.0           212.0  3/5/20

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1405 entries, 0 to 1404
Data columns (total 5 columns):
Country           1405 non-null object
TotalCases        1405 non-null int64
TotalDeaths       1405 non-null float64
TotalRecovered    1405 non-null float64
date              1405 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 55.0+ KB

In [55]:
USA = df[df['Country'] == 'USA']

In [56]:
USA = USA.iloc[::-1]

In [57]:
USA['Percent Change'] = USA['TotalCases'].pct_change()

In [58]:
USA

     Country  TotalCases  TotalDeaths  TotalRecovered     date  Percent Change
1237     USA          11          0.0             0.0   2/4/20             NaN
1209     USA          11          0.0             0.0   2/5/20        0.000000
1182     USA          12          0.0             1.0   2/6/20        0.090909
1155     USA          12          0.0             1.0   2/7/20        0.000000
1127     USA          12          0.0             3.0   2/8/20        0.000000
1099     USA          12          0.0             3.0  2/10/20        0.000000
1071     USA          13          0.0             3.0  2/11/20        0.083333
1043     USA          13          0.0             3.0  2/12/20        0.000000
1014     USA          15          0.0             3.0  2/13/20        0.153846
985      USA          15          0.0             3.0  2/14/20        0.000000
956      USA          15          0.0             3.0  2/15/20        0.000000
928      USA          15          0.0             3.0  2/16/20        0.000000
898      USA          15          0.0             3.0  2/17/20        0.000000
869      USA          15          0.0             3.0  2/18/20        0.000000
837      USA          15          0.0             3.0  2/19/20        0.000000
807      USA          15          0.0             3.0  2/20/20        0.000000
737      USA          35          0.0             6.0  2/22/20        1.333333
704      USA          35          0.0             7.0  2/23/20        0.000000
664      USA          53          0.0             5.0  2/24/20        0.514286
624      USA          57          0.0             0.0  2/25/20        0.075472
578      USA          57          0.0             0.0  2/26/20        0.000000
527      USA          60          0.0             0.0  2/27/20        0.052632
468      USA          60          0.0             1.0  2/28/20        0.000000
406      USA          68          1.0             7.0  2/29/20        0.133333
339      USA          73          1.0             9.0   3/1/20        0.073529
262      USA          99          6.0             9.0   3/2/20        0.356164
181      USA         108          9.0             9.0   3/3/20        0.090909
96       USA         137         11.0             9.0   3/4/20        0.268519
9        USA         190         11.0             9.0   3/5/20        0.386861

In [73]:
df = df.iloc[::-1]

In [75]:
df.to_csv('corona_updated.csv')